<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3><a href="/">Main Page</a></h3>
    <% if (players.length < 4){ %>
    <h2>Need <%= 4 - players.length %> player(s) to start the Tournament</h2>
    <h2><a href="/waiting_lobby">Return to waiting-lobby</a></h2>
    <% } %>
    <br />
    <% if (players.length >= 4){ %>
    <h1><%= message %></h1>
    <table>
      <tr>
        <th>ROUND ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <% for(var i = 0; i < players.length; i++) { %>
      <tr>
        <td><%= players[i].id %></td>
        <td><%= players[i].firstName %></td>
        <td><%= players[i].lastName %></td>
      </tr>
      <% }; %>
    </table>
    <% } %>
  </body>
</html>
